<script lang="ts">
// Core
import { defineComponent } from "vue";

// Types
import type { PropType } from "vue";
import type { ConnectLineType, PositionType } from "@/models";

// Utils
import { getPosition, getCurvePath } from "@/utils";

export default defineComponent({
  props: {
    offset: {
      type: Object as PropType<PositionType>,
      default: function () {
        return {
          x: 0,
          y: 0,
        };
      },
    },
    connectList: {
      type: Array as PropType<ConnectLineType[]>,
      default: function () {
        return [];
      },
    },
  },
  computed: {
    getPathsList(): string[] {
      return this.connectList?.reduce((acc: string[], current) => {
        const point1 = getPosition(current.from);
        const point2 = getPosition(current.to);

        const x1 = point1.right - this.offset.left;
        const y1 = point1.top - this.offset.top;
        const x2 = point2.left - this.offset.left;
        const y2 = point2.top - this.offset.top;

        const path = getCurvePath(x1, y1, x2, y2);
        acc.push(path);
        return acc;
      }, []);
    },
  },
  methods: {},
});
</script>

<template>
  <div class="connect-lines">
    <svg class="line">
      <TransitionGroup name="path-animate">
        <path
          v-for="path in getPathsList"
          :key="path"
          :d="path"
          class="line__path"
        ></path>
      </TransitionGroup>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.connect-lines {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.line {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &__path {
    stroke-width: 4px;
    stroke-linecap: round;
    fill: transparent;
    stroke: #3c2d7c;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.path-animate-enter-active,
.path-animate-leave-active {
  transition: all 0.5s ease;
}
.path-animate-enter-from {
  stroke-dashoffset: -500;
}
.path-animate-leave-to {
  opacity: 0;
  stroke-dashoffset: -500;
}
</style>
