<script lang="ts">
// Core
import { defineComponent } from "vue";

//Types
import type { PropType } from "vue";
import type { PhotosDataType, PhotoType, PhotoSelectEmitType } from "@/models";

export default defineComponent({
  props: {
    candidatePhoto: {
      type: Object as PropType<PhotoSelectEmitType>,
      default: null,
    },
    photos: {
      type: Object as PropType<PhotoType[]>,
      required: true,
    },
  },
  data(): PhotosDataType {
    return {
      activeCardIdx: null,
    };
  },
  watch: {
    candidatePhoto: {
      handler: function (val) {
        if (val === null) {
          this.activeCardIdx = null;
        }
      },
    },
  },
  emits: ["update:candidatePhoto"],
  methods: {
    selectPhoto(idx: number) {
      if (idx == this.activeCardIdx) {
        this.activeCardIdx = null;
        this.$emit("update:candidatePhoto", null);
        return;
      }
      this.activeCardIdx = idx;
      const $cardList = this.$refs.photo as HTMLAnchorElement[];
      const $currentCard = $cardList[idx];
      if (this.photos) {
        this.$emit("update:candidatePhoto", {
          el: $currentCard,
          photo: this.photos[idx],
        });
      }
    },
  },
});
</script>

<template>
  <div class="photos">
    <div class="photos__list">
      <a
        v-for="(photo, index) in photos"
        :key="photo.id"
        href="#"
        @click.prevent="selectPhoto(index)"
        ref="photo"
        class="photo"
        :class="{
          'photo--active': activeCardIdx === index,
        }"
      >
        <span>{{ photo.title }}</span>
        <!--<img :src="item.url" :alt="item.title" />-->
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.photo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  width: 250px;
  height: 100px;

  background: #fff;
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);

  border-radius: 8px;
  margin-bottom: 8px;
  border: 4px dotted #fff;
  overflow: hidden;
  transition: 0.15s ease-in-out border;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
  }

  &:hover {
    border: 4px dotted #3ff282;
  }

  &--active {
    border: 4px dotted #3ff282;

    img {
      opacity: 1;
    }
  }
}
.photos {
  display: flex;
  flex-flow: column wrap;
}
</style>
