::selection { background: $selectionColor; color: #fff; }

* {
  box-sizing: border-box;
}

html, body {
  background-color: $backgroundColor;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1;
  height: 100%;
  min-height: em(600);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $fontColor;
}

#app {
  height: 100%;
}

a {
  color: $fontColor;
  text-decoration: none;
}
