@use "sass:math";

$base-font-size: 16;
@function em($pixels, $context: $base-font-size) {
  @return math.div($pixels, $context) + em;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}
