<script lang="ts">
// Core
import { defineComponent } from "vue";

// Types
import type {
  FeedDataType,
  AlbumType,
  PhotoType,
  PhotoSelectEmitType,
  ConnectLineType,
} from "@/models";

// Components
import AlbumsList from "@/components/AlbumsList/AlbumsList.vue";
import PhotosList from "@/components/PhotosList/PhotosList.vue";
import ConnectLines from "@/components/ConnectLines/ConnectLines.vue";

// Utils
import { getCoords } from "@/utils";

export default defineComponent({
  components: {
    AlbumsList,
    PhotosList,
    ConnectLines,
  },
  data(): FeedDataType {
    return {
      containerOffset: null,
      candidatePhoto: null,
      albums: [],
      photos: [],
    };
  },
  computed: {
    connectLinesElementsList(): ConnectLineType[] {
      return this.albums.reduce((acc: ConnectLineType[], album: AlbumType) => {
        const list: ConnectLineType[] = [];
        if (album?.photos && album?.photos.length) {
          album?.photos.forEach((photo: PhotoSelectEmitType) => {
            const connect = {
              from: album.el as HTMLAnchorElement,
              to: photo.el as HTMLAnchorElement,
            };
            list.push(connect);
          });
        }
        return [...acc, ...list];
      }, []);
    },
  },
  methods: {
    selectPhoto(photo: PhotoSelectEmitType) {
      this.candidatePhoto = photo;
    },
    async getAlbums(start = 0, limit = 5): Promise<AlbumType[]> {
      return await fetch(
        `https://jsonplaceholder.typicode.com/albums?_start=${start}&_limit=${limit}`
      ).then((response) => response.json());
    },
    async getPhotos(start = 0, limit = 5): Promise<PhotoType[]> {
      return await fetch(
        `https://jsonplaceholder.typicode.com/photos?_start=${start}&_limit=${limit}`
      ).then((response) => response.json());
    },
    updateAlbumsResponse(response: AlbumType[]): AlbumType[] {
      return response.map((item: AlbumType) => {
        item.el = null;
        item.photos = [];
        return item;
      });
    },
  },
  async mounted() {
    const albumsResponse = await this.getAlbums(0, 6);
    const photosResponse = await this.getPhotos(0, 6);

    const albumsData = this.updateAlbumsResponse(albumsResponse);
    this.albums = [...albumsData];
    this.photos = [...photosResponse];

    await this.$nextTick().then(() => {
      // get offset container position for send in <ConnectLines>
      const $container = this.$refs.feedContainer as HTMLElement;
      this.containerOffset = getCoords($container);
    });
  },
});
</script>

<template>
  <div class="feed">
    <div class="feed__container" ref="feedContainer">
      <AlbumsList
        v-if="albums && albums.length"
        v-model:albums="albums"
        v-model:candidatePhoto="candidatePhoto"
        :key="albums.length"
      />
      <PhotosList
        v-if="photos && photos.length"
        v-model:candidatePhoto="candidatePhoto"
        :photos="photos"
      />
      <ConnectLines
        :connectList="connectLinesElementsList"
        :offset="containerOffset"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
  }
}
</style>
