<script lang="ts">
// Core
import { defineComponent } from "vue";

// Types
import type { PropType } from "vue";
import type { PhotoSelectEmitType, AlbumType } from "@/models";

export default defineComponent({
  props: {
    albums: {
      type: Array as PropType<AlbumType[]>,
      required: true,
    },
    candidatePhoto: {
      type: [Object, null] as PropType<PhotoSelectEmitType>,
      required: true,
    },
  },
  data() {
    return {
      albumsList: [] as AlbumType[],
    };
  },
  watch: {
    albums: {
      immediate: true,
      handler: function (data) {
        this.albumsList = data;
      },
    },
  },
  emits: ["update:albums", "update:candidatePhoto"],
  methods: {
    addPhotoToAlbum(albumIdx: number) {
      const photo = this.candidatePhoto;
      if (!photo) return;
      this.removePhotoFromAlbums(photo);
      this.albumsList[albumIdx].photos.push(photo);
      this.$emit("update:albums", this.albumsList);
      this.$emit("update:candidatePhoto", null);
    },

    removePhotoFromAlbums(photoCandidate: PhotoSelectEmitType): void {
      this.albumsList.forEach((album: AlbumType) => {
        album.photos = album.photos.filter(
          (item) => item.photo.id !== photoCandidate.photo.id
        );
      });
    },
  },
  mounted() {
    const $albums = this.$refs.album as HTMLAnchorElement[];
    this.albumsList?.forEach((album, idx) => (album.el = $albums[idx]));
  },
});
</script>

<template>
  <div class="albums">
    <div class="albums__list">
      <a
        v-for="(item, index) in albumsList"
        class="album"
        :class="{
          'album--active': candidatePhoto,
        }"
        :key="item.id"
        href="#"
        ref="album"
        @click="addPhotoToAlbum(index)"
      >
        <span>{{ item.title }} - {{ item.photos.length }}</span>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.albums {
  display: flex;
  flex-flow: column wrap;
}
.album {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
  width: 250px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 4px dotted #fff;
  padding: 15px;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out border;

  &--active {
    background: rgb(53 217 246 / 43%);
    border: 4px dotted #7cd730;
  }
}
</style>
